*{
    margin: 0;
    padding: 0;
}


.aboutheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF1DC;
}

.aboutlogo{
    float: left;

}

.logoimage{
    width: 200px;
}

.aboutpacknav {
    float: right;
}

.aboutpacknav a{
    display: inline-block;
    text-decoration: none;
    margin-right: 50px;
    /* color: rgb(107, 74, 23); */
    color: #B25500;
    font-size: 20px;
    padding: 14px 16px;
    font-family:monospace;
    font-weight: 500;
}

.aboutpacknav a:hover {
    border: 1px solid none;
    border-radius: 8px;
    background: rgba(128, 128, 128, 0.097);
    cursor: pointer;
}

.headingsection{
    background: #B25500;
}

.heading-div h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: white;
    font-size: 40px;
}

.parasection{
    display: flexbox;
    justify-content: center;
    align-self: center;
    background: #FFF1DC;
    padding: 50px;
}
.asideimage img{
    width: 350px;
    float: right;
    border: 3px solid brown;
    border-radius: 50px;
}

.aboutpara h6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 25px;
    color: #B25500;
}

footer{
    background: #B25500;
    height:20em;
}

.footerlogo aside{
    display: inline;
}

.footerlogo{
    display: inline;
}

.footerlogo img{
    width: 250px;
    justify-content: center;
    align-items: center;
}

.footerlinks{
    float: right;
    /* border: 3px solid red; */
    margin-right: 100px;
    padding: 25px;
}

#packages-links li{
    list-style-type: none;
    padding: 5px;
}

#packages-links span h4{
    color: black;
    font-size: 25px;
    padding: 0 20px 20px 20px;
}
#packages-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px;
    font-family: monospace;
    letter-spacing: 0.1em;
}

#packages-links a:hover{
    text-decoration: underline;
}

#icons-links{
    /* border: 2px solid blue; */
    margin: 10px;
}

#icons-links span{
    color: black;
    font-size: 20px;
    font-weight: 600;  
    justify-content: center;
    align-items: center;
    display: flex; 
    margin-bottom: 10px;
}

/* #icons-links li{
    padding: 50px;
} */

#icons-links a{
    color: white;
    padding: 10px;
    font-size: 28px;
    align-items: center;
}

#icons-links a:hover{
    color: black;
}
